/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 10;
}
header ul li {
    display: inline;
    margin: 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    transition: 0.3s;
    padding: 5px 10px;
}

/* header start end here */



/* main start here*/
   /* banner section start here */
   article{grid-area: articale;}
   aside{grid-area: aside;}
   .banner{
       display: grid;
       grid-template-areas: 
             'articale aside'
       ;
   padding: 50px;
   
   }
   .banner article{
      text-align: left;
       display: flex;
       justify-content: start;
       align-items: start;
       margin-top: 200px;
   }
   .banner article h1{
      margin: 20px 0;
      font-size: 35px;
      background-color: gray;

   }
   .banner article p{
       text-align: justify;
   }
   .banner aside{
       width: 600px;
   }
   .banner aside img{
       border:2px solid black;
   }
   /* banner section end here */


   /* about section start herte */
     
    
    .card-1{grid-area: card-1;}
    .card-2{grid-area: card-2;}
    .card-3{grid-area: card-3;}
    .about-card{
        display:grid;
        grid-template-areas: 'card-1 card-2 card-3';
    }

   /* about section end here */



   /* archives section start here */
          .img-1{grid-area: img-1;}
          .img-2{grid-area: img-2;}
          .img-3{grid-area: img-3;}
          .img-4{grid-area: img-4;}
          .img-5{grid-area: img-5;}
          .archives-images{
            display: grid;
            grid-template-areas: 'img-1 img-2 img-3 img-4 img-5';
        }
        .archives-images li img{
            width: 230px;
            height: 180px;
        }
/* archives section end here */



/* blog post section start here */
        .blog-content{
                   width: 70%;
        }
        .blog-content .blog-img{
           
        }
        .blog-content .blog-img img{
           
        }
/* blog post section ends here */
/* main end here */